#form .space {
  height: 200px;
}

#form .formulario {
  width: 620px;
  margin: 0 auto 100px auto;
  background-color: #080B16;
  color: #FFF;
  border-radius: 16px;
  position: relative;
}

#form .formulario .fechar-formulario {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  position: absolute;
  right: 0;
  width: 38px;
  height: 38px;
}

#form .formulario h2 {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

#form .formulario form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
}

#form .formulario form .section-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 29px auto;
  width: 90%;
}

#form .formulario form .section-form label {
  margin-bottom: 0.5rem;
  width: auto;
}

#form .formulario form .section-form input,
select {
  width: 100%;
  height: 44px;
  border-radius: 8px;
}

#form .formulario form .btn-submit {
  width: 90%;
  height: 44px;
  margin: 0 auto;
  border-radius: 8px;
  background: #F0B35B;
  color: #0D121E;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 50px;
  cursor: pointer;
}

#nome,
#data,
#local,
#hora {
  padding: 0;
  margin: 0;
  padding-left: 16px;
  color: #080B16;
  font-size: 0.75rem;
  font-weight: 400;
}












#local::placeholder,
#data::placeholder,
#nome::placeholder,
#hora::placeholder {
  color: #160b08;
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 0;
}