@import 'menu-mobile.css';
@import 'form.css';



/* -------------------- Estilos Globais -------------------- */
:root {
  --cor-blue0: #0D121E;
  --cor-blue1: #080B16;
  --cor-orange0: #F0B35B;
  --cor-light0: #FFFFFF;
  --cor-light1: #FAFAFA;
  --cor-grey: #4C4C4C;

  /*Botões*/

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-blue0, #0D121E);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
li {
  font-family: 'MedievalSharp', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

span {
  font-size: 0.875rem;
}

/* ---- Header ---- */

header {
  width: 100%;
  height: 6rem;
  flex-shrink: 0;
  margin: 0 auto;
  position: fixed;
  background-color: var(--cor-blue0);
}

header.fixed {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

header .menu__itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

header .menu__itens ul {
  display: flex;
  align-items: center;
}

header .menu__itens img {
  width: 5.0625rem;
  height: 5.5rem;
  flex-shrink: 0;
}

header .menu__itens ul a {
  margin-left: 2.5rem;
  color: var(--cor-light0);
}

header .menu__itens .btn-agend {
  margin-right: 2rem;
}
header .btn-whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}


/* ---- Home ---- */

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51.25rem;
  flex-shrink: 0;
  background:
    linear-gradient(180deg, #080B15 0.57%, rgba(12, 14, 20, 0.50) 22.92%, rgba(14, 15, 19, 0.52) 49.11%, rgba(15, 16, 19, 0.80) 68.5%, #0D121E 93.45%, #0D121E 100%),
    url("../assets/images/home-bg.jpg") no-repeat center center,
    rgb(0, 0, 0) 50% / cover no-repeat;
}

#home .home__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-light0);
}

#home .home__content p {
  color: var(--cor-Light0, #FFF);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.55);
  font-size: 2.75rem;
  font-weight: 700;
  max-width: 57.5625rem;
}

#home .home__content span {
  color: var(--cor-Light0, #FFF);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.85);
  margin-top: 0.88rem;
  margin-bottom: 1.5rem;
}

/* ---- Sobre ---- */

#sobre {
  flex-shrink: 0;
  padding-bottom: 7.31rem;
}

#sobre .sobre__content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10%;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

#sobre .sobre__content .sobre__content-left {
  margin: 0 auto;
}

#sobre .sobre__content .sobre__content-left .sobre-cards-both img {
  width: 300px;
  height: 350px;
  border-radius: 7px;
}

#sobre .sobre__content .sobre__content-left .sobre-cards-both img:nth-child(2) {
  margin-left: 1rem;
}

#sobre .sobre__content .sobre__content-left .sobre-cards-bottom {
  width: auto;
  margin-top: 1rem;
}

#sobre .sobre__content .sobre__content-left .sobre-cards-bottom img {
  width: 100%;
  height: 180px;
}

#sobre .sobre__content .sobre__content-right {
  max-width: 29.75rem;
}

#sobre .sobre__content .sobre__content-right h1 {
  color: var(--cor-light0, #FFF);
  font-weight: 700;
  margin-bottom: 1.12rem;
}

#sobre .sobre__content .sobre__content-right p {
  color: var(--cor-light0, #FFF);
  margin-bottom: 0.88rem;
}

#sobre .sobre__content .sobre__content-right span {
  color: var(--cor-light0, #FFF);
  font-weight: 700;
  line-height: normal;
}

/* ---- Serviços ---- */

#servicos {
  height: min-content;
  flex-shrink: 0;
  background: var(--cor-light1, #FAFAFA);
  text-align: center;
  color: #000;
  padding-bottom: 9rem;
}

#servicos h1 {
  font-weight: 700;
  flex-shrink: 0;
  padding-top: 6rem;
}

#servicos h2 {
  font-size: 1rem;
  width: 53.9375rem;
  margin: 0 auto;
}

#servicos .servicos__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2.98rem;
  width: 75%;
  margin: 2.98rem auto 0 auto;
}

#servicos .servicos__container .servicos__card {
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#servicos .servicos__container .servicos__card .servicos__card-img {
  width: auto;
  height: 317.858px;
  background-position: center;
  background-size: cover;
}

#servicos .servicos__container .servicos__card .servicos__card-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

#servicos .servicos__container .servicos__card .servicos__card-content {
  border-radius: 0px 0px 8px 8px;
  background: var(--cor-light0, #FFF);
  display: flex;
  height: 54.632px;
  justify-content: space-around;
  align-items: center;
}

#servicos .servicos__container .servicos__card .servicos__card-content>p {
  font-weight: 700;
}

#servicos .servicos__container .servicos__card .servicos__card-content .servico__card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 27.813px;
  border-radius: 8px;
  background: var(--cor-blue0, #0D121E);
}

#servicos .servicos__container .servicos__card .servicos__card-content .servico__card-btn p {
  color: var(--cor-light0);
  text-align: center;
}

/* ---- Equipe ---- */

#equipe {
  height: 610px;
  padding: 108px auto;
  background-color: var(--cor-blue1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#equipe .equipe__container {
  width: auto;
  display: grid;
  grid-template-columns: .1fr 1fr 1fr 1fr;
  gap: 60px;
}

#equipe .equipe__container .equipe__container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

#equipe .equipe__container .equipe__container-left h1 {
  transform: rotate(-90deg);
  color: #636A86;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 7.26px;
  white-space: nowrap;
}

#equipe .equipe__container .equipe__container-card {
  width: 318px;
  height: 394px;
}

#equipe .equipe__container .equipe__container-card-img {
  height: 354px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: end;
}

#equipe .equipe__container .equipe__container-card-img p {
  color: var(--cor-orange0, #F0B35B);
  font-weight: 700;
  position: absolute;
  margin-bottom: 58px;
}

#equipe .equipe__container .equipe__container-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#equipe .equipe__container .equipe__container-card .equipe__container-card-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

/* ---- Unidade ---- */

#unidade {
  background: var(--cor-light1, #FAFAFA);
  height: 1189px;
  padding-top: 4.6rem;
}

#unidade h1 {
  text-align: center;
  color: var(--cor-blue0, #0D121E);
  font-weight: 700;
  margin-bottom: 2.70rem;
}

#unidade .unidade__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px;
  width: min-content;
  margin: 0 auto;
}

#unidade .unidade__cards .unidade__cards-content {
  border-radius: 16px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  width: 420px;
  height: 487px;
  display: flex;
  justify-content: center;
  align-items: end;
}

#unidade .unidade__cards .unidade__cards-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

#unidade .unidade__cards .unidade__cards-content .unidade__cards-content-bottom {
  position: absolute;
  width: 232px;
  height: 55px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #5B5B5B;
  background: rgba(0, 0, 0, 0.80);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  color: #FFF;
}

#unidade .unidade__cards .unidade__cards-content .unidade__cards-content-bottom p {
  font-weight: 700;
}

#unidade .unidade__cards .unidade__cards-content .unidade__cards-content-bottom span {
  font-size: 1rem;
}

#unidade .unidade__icons {
  display: flex;
  justify-content: space-between;
  width: 158px;
  height: 24px;
  margin: 116px auto 0 auto;
}

#unidade .unidade__logo {
  width: 166px;
  height: 196px;
  flex-shrink: 0;
  margin: 36px auto 0 auto;
}

#unidade .unidade__logo img {
  width: 100%;
  height: 100%;
}









.btn-agend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.1875rem;
  height: 2.75rem;
  flex-shrink: 0;
  background-color: var(--cor-orange0, #F0B35B);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--cor-blue0, #0D121E);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-orange0, #F0B35B);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #93621e;
}

::selection {
  background-color: var(--cor-orange0);
}