[data-menu="button"] {
  display: none;
}

@media (max-width: 992px) {
  nav {
    padding: 15px 5% !important;
  }

  [data-menu="button"] {
    display: block;
    background-color: transparent;
    border: none;
    border-top: 3px #F0B35B solid;
    padding: .8rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 100;

  }

  [data-menu="button"]::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #F0B35B;
    transition: .3s transform;
  }

  [data-menu="button"]::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #F0B35B;
    transition: .3s transform;
  }





  [data-menu="list"] {
    width: 300px;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    right: 1%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    background-color: #151515;
    border-radius: 7px;
    z-index: 50;
    margin: 0;
    padding-bottom: 15px;
    font-family: "Inter", sans-serif;
    border: 2px solid #F0B35B;
  }

  [data-menu="list"] li {
    padding: 5px;
  }

  [data-menu="list"] .imgNav {
    display: none;
  }

  [data-menu="list"].active {
    display: block;
    animation: show-down .3s forwards;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}